.whole-content {
  display: flex;
}

.form-container{
    padding: 16px;
    border: 1px solid black;
    width: 30%;
    align-items: center;
    justify-content: right;
    margin: 0%, 20px 0px 1px ;
    background-color: rgb(253, 230, 253);

}
.welcome-bage{
  color:purple;
justify-content: left;
padding: 15px;
border: 1px solid;
}

  


.input[type=text], input[type=password],input[type=email]{
  padding: 15px;
  margin: 2px;
  border: 1px solid black;
  width: 400px;
}
.name-container {
  display: flex;
}

.label{
  color: white;

}
.input[type=text]:focus, input[type=password] input[type=email]:focus {
  
        outline: none;
        ;
}
.hr-lines{
  position: relative;
  max-width: 500px;
  margin: px auto;
  text-align: center;
}
.hr-lines:before{
  content:" ";
  height: 2px;
  width: 230px;
  background: black;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
}
.hr-lines:after{
  content:" ";
  height: 2px;
  width: 230px;
  background: black;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
}



  
    


  
      
      .createbutton{
        background-color:purple;
        color: white;
        padding: 16px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 80%;
        opacity: 0.9;
      }
      
      .createbutton:hover{
        opacity:1;
      }
      .social-btn {
        width: 30%;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
        margin: 6px;
        display: flex;
        justify-content: space-around;
    }
    
    #fa-google{
      font-size: 5px;
      width: 26px;
      height: 26px;
      object-fit: contain;
      max-width: 10%;
      height: auto;
      
      
      }
    
    .fa-facebook{
      margin: 25px;
      background-color: white;
      color: blue;
     font-size: x-large;

        
    }
    
    .fa-apple{
    background-color: white;
    color: black;
    padding: 2px;
    font-size: x-large;
    margin: 20px;

    }
    #name{
      padding: 15px;
      margin: 2px;
      border: 1px solid black;
      width: 165px;
    }




  
